.categoryMainContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    padding: 1rem;
    background-color: white;
    border-radius: 0.5rem;
}

.subTextContainer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding: 0 1rem;
}